window#osd {
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid #504945;
  background: rgba(60, 56, 54, 0.9);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #ebdbb2;
    font-family: "Adwaita Sans";
    font-weight: 500;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 8px;
    border-radius: 4px;
    background: transparent;
    border: none;
  }

  trough {
    min-height: inherit;
    border-radius: inherit;
    border: 1px solid #665c54;
    background: #282828;
  }

  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #a9b665;
  }
}
