configuration {
    modes: "drun";
    font: "Inter 12";
    show-icons: true;
    terminal: "alacritty";
    icon-theme: "Adwaita";
    sort: true;
}

@theme "Arc-Dark"

listview {
    lines: 10;
}

element {
    padding: 6px 10px;
}

inputbar {
    children: [entry];
}

prompt {
    enabled: false;
}
