* {
  background-image: none;
  box-shadow: none;
  font-family: "Adwaita Sans";
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #FFFFFF;
  margin: 0.35em;
  font-size: 1.25em;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #DDC7A1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: #1D2021;
  text-decoration-color: #FFFFFF;
  outline-style: none;
}

button:focus,
button:active,
button:hover {
  background-size: 23%;
  background-color: #3c3836;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#lock:hover,
#lock:focus {
  background-image: image(url("./icons/lock_hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#logout:hover,
#logout:focus {
  background-image: image(url("./icons/logout_hover.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}

#suspend:hover,
#suspend:focus {
  background-image: image(url("./icons/suspend_hover.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#hibernate:hover,
#hibernate:focus {
  background-image: image(url("./icons/hibernate_hover.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}

#shutdown:hover,
#shutdown:focus {
  background-image: image(url("./icons/shutdown_hover.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}

#reboot:hover,
#reboot:focus {
  background-image: image(url("./icons/reboot_hover.png"));
}
