[Unit]
Description=Day/night gamma adjustments for Wayland compositors
Documentation=man:wlsunset(1)

[Service]
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/bin/wlsunset -t 4000 -T 6500 -S 06:30 -s 19:30 -d 1800
Restart=always

[Install]
WantedBy=default.target
