* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font", monospace;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #000000;
  color: #ffffff;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: #888888;
}

#workspaces button:hover {
  background: #5f676a;
  color: #ffffff;
}

#workspaces button.active {
  background: #285577;
  color: #ffffff;
}

#workspaces button.urgent {
  background: #900000;
  color: #ffffff;
}

#temperature.warning,
#battery.warning {
  color: #ff6600;
}

#temperature.critical,
#battery.critical {
  color: #ff0000;
}
