* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #141414;
  color: #ffffff;
  border-bottom: 1px solid #262626;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
  color: #444444;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease;
}

#workspaces button:hover {
  background: #1c1c1c;
  color: #ffffff;
}

#workspaces button.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#workspaces button.empty {
  color: #333333;
}

#workspaces button.urgent {
  background: #900000;
  color: #ffffff;
}

#network.disabled,
#network.disconnected,
#network.linked,
#wireplumber.muted,
#bluetooth.disabled,
#bluetooth.off {
  color: #444444;
}

#network.wifi,
#network.ethernet,
#bluetooth.on,
#bluetooth.connected,
#battery.charging,
#battery.plugged {
  color: #ffffff;
}

#temperature.warning,
#battery.warning {
  color: #d08770;
}

#temperature.critical,
#battery.critical {
  color: #bf616a;
}
